{% block html_output %}
    {% if links %}
        {{ attach_library('service_links/generic') }}
        <div class="service-links">
            {% block link_list %}
                <ul>
                    {% for link in links %}
                        <li>{% block link %}{{ link }}{% endblock %}</li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
