{% block html_output %}
    {% if links %}
        {{ attach_library('service_links/fisheye') }}
        <div class="service-links fisheye">
            <div class="fisheyeContainer">
                {{ content }}
                {% block link_list %}
                    {% for link in links %}
                        {% block link %}{{ link }}{% endblock %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}
